<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	  <parameter name="article" value="iPhone13" />
	  <parameter name="productnum" value="3" />
  <test name="TestCase1">
              <groups>  
       	  <run>  
            <include name="TC1"/>  
	         </run>  
      </groups> 
    <classes>
      <class name="example.LiverpoolTest">
      </class>
    </classes>
  </test>
    <test name="TestCase2">
              <groups>  
       	  <run>  
            <include name="TC2"/>  
         </run>  
      </groups> 
    <classes>
      <class name="example.LiverpoolTest">
      </class>
    </classes>
  </test>
</suite>
